/* Colors */
:root {
    //Primary
    --color-soft-orange: hsl(35, 77%, 62%);
    --color-soft-red: hsl(5, 85%, 63%);

    --color-main-yellow: #FFB964;

    //Neutral
    --color-off-white: hsl(36, 100%, 99%);
    --color-grayish-blue: hsl(233, 8%, 79%);
    --color-darkgrayish-blue: hsl(236, 13%, 42%);
    --color-verydark-blue: hsl(240, 100%, 5%);

    --color-white: hsla(360, 100%, 100%, 1);
  }