@use "../abstracts/functions" as f;
@use "../abstracts/colors";

.hidden {
    display: none;
}

.nav-wrapper {
    display: flex;
    justify-content: space-between;
}

.mobile-nav-toggle {
    display: none;
}

.nav-list {
    margin: 0;
    list-style: none;
    display: flex;
    gap: f.rem(20px);
}

.nav-list a {
    text-decoration: none;
    color: var(--color-darkgrayish-blue);
    transition: all 0.3s;

    &:hover {
        color: var(--color-soft-red);
    }
}

@media (max-width: 50em) {

    .primary-navigation {
        background-color: white;
        position: absolute;
        inset: 0 0 0 30%;
        display: none;
        // transform: translateX(100%);
        // transition: all 350ms ease-in;
    }

    .primary-navigation[data-visible] {
        display: block;
        // transform: translateX(0%);
    }

    .nav-list {
        margin-top: f.rem(200px);
        display: flex;
        flex-direction: column;
        gap: f.rem(40px);
    }

    .nav-list a {
        font-size: f.rem(20px);
        color: var(--color-verydark-blue);
    }

    .mobile-nav-toggle {
        display: block;
        position: absolute;
        right: f.rem(20px);
        cursor: pointer;
        background: none;
        border: 0;
        padding: 0.5em;
        z-index: 999;

        width: f.rem(32px);
        aspect-ratio: 1;

        background-image: url('./assets/images/icon-menu.svg');
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
    }
    
    .mobile-nav-toggle[aria-expanded="true"] {
        background-image: url('./assets/images/icon-menu-close.svg');
    }

}